*{
	padding: 0;
	margin: 0;

}

body{
	background-image: url("d6e5e40d22d3.gif");
	width: 100vw;
	height: 100vh;
	position: fixed;
}

#infiBall{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: red;
}



